<h3>
  {{title}}
</h3>

<nav>
  <a routerLink="/zoompandrag" routerLinkActive="active">Canvas</a>
  <a routerLink="/threeCube" routerLinkActive="active">threeCube</a>
  <a routerLink="/dynamicycle" routerLinkActive="active">Cycle</a>
  <a routerLink="/basic" routerLinkActive="active">Basic</a>
  <a routerLink="/event" routerLinkActive="active">Event</a>
  <a routerLink="/loading" routerLinkActive="active">Loading</a>
  <a routerLink="/updataChart" routerLinkActive="active">UpdataChart</a>
</nav>
<hr>
<div></div>


<router-outlet></router-outlet>
