<h3>
  {{title}}
</h3>

<nav>
  <a routerLink="/zoompandragcircle" routerLinkActive="active">Canvas-arc</a>
  <a routerLink="/zoompandrag" routerLinkActive="active">Canvas-rect</a>
  <a routerLink="/zoompandragsvg" routerLinkActive="active">SVG</a>
  <a routerLink="/threeCube" routerLinkActive="active">threeCube</a>
  <a routerLink="/dynamicycle" routerLinkActive="active">Cycle</a>
  <a routerLink="/basic" routerLinkActive="active">Basic</a>
  <a routerLink="/event" routerLinkActive="active">Event</a>
  <a routerLink="/loading" routerLinkActive="active">Loading</a>
  <a routerLink="/updataChart" routerLinkActive="active">UpdataChart</a>
  <a routerLink="/lineChart" routerLinkActive="active">LineChart</a>
  <a routerLink="/linePen" routerLinkActive="active">LinePen</a>
  <a routerLink="/pieChart" routerLinkActive="active">PieChart</a>
  <a routerLink="/radarChart" routerLinkActive="active">RadarChart</a>
  <a routerLink="/guage" routerLinkActive="active">Guage</a>
  <a routerLink="/boxplot" routerLinkActive="active">Boxplot</a>
  <a routerLink="/simple" routerLinkActive="active">SimpleSurface</a>
  <a routerLink="/threeview" routerLinkActive="active">点云数据视图</a>
</nav>
<hr>
<div></div>


<router-outlet></router-outlet>
